<div class="invoiceInfo">
	<div class="irow invoice_type">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_type"}' />
		<div class="value" />
	</div>
	<div class="irow invoice_id">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_id"}' />
		<div class="value" />
	</div>
	<div class="irow invoice_date">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_date"}' />
		<div class="value" />
	</div>
	<div class="irow invoice_seller">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_seller_info"}' />
		<div class="value" />
	</div>
	
	<div class="irow way_of_payment">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_way_of_payment"}' />
		<div class="value" />
	</div>
	<div class="irow purpose_of_trafficking">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_purpose_of_trafficking"}' />
		<div class="value" />
	</div>
	<div class="irow way_of_shipping">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_way_of_shipping"}' />
		<div class="value" />
	</div>
	<div class="irow shipping_location">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_shipping_location"}' />
		<div class="value" />
	</div>
	<div class="irow delivery_location">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_delivery_location"}' />
		<div class="value" />
	</div>
	
	
	<div class="irow invoice_notes">
		<div class="title" data-literal='{"scope":"invoice.info","name":"lbl_invoice_notes"}' />
		<div class="value" />
	</div>
	<div class="rtlbutton btn-edit-invoice" data-literal='{"scope":"invoice.info","name":"btn_editInvoice"}' />
</div>