<div class="customerDetails">
	<div class="rtlbutton btn-add-customer" data-literal='{"scope":"customer.info","name":"btn_addCustomer"}' />
	<div class="customerInfo">
		<div class="crow cname">
			<div class="title" data-literal='{"scope":"customer.info","name":"lbl_customer_name"}' />
			<div class="value" />
		</div>
		<div class="crow cphone">
			<div class="title" data-literal='{"scope":"customer.info","name":"lbl_customer_phone"}' />
			<div class="value" />
		</div>
		<div class="crow caddress">
			<div class="title" data-literal='{"scope":"customer.info","name":"lbl_customer_address"}' />
			<div class="value" />
		</div>
		<div class="crow cjob">
			<div class="title" data-literal='{"scope":"customer.info","name":"lbl_customer_occupation"}' />
			<div class="value" />
		</div>
		<div class="crow cbalance">
			<div class="title" data-literal='{"scope":"customer.info","name":"lbl_customer_balance"}' />
			<div class="value" />
		</div>
	</div>
</div>