<div class="productListOuterContainer">
	<div class="rtlbutton btn-add-first-product" data-literal='{"scope":"products.list","name":"btn_addFirstProduct"}' />
	<div class="productListContainer">
		<div class="rtlbutton btn-add-product" data-literal='{"scope":"products.list","name":"btn_addProduct"}' />
		<div class="productList">
			<div class="header prow">
				<div class="fld pid" data-literal='{"scope":"products.list","name":"hd_pid"}' />
				<div class="fld ptitle" data-literal='{"scope":"products.list","name":"hd_ptitle"}' />
				<div class="fld pprice" data-literal='{"scope":"products.list","name":"hd_pprice"}' />
				<div class="fld pprice_vat" data-literal='{"scope":"products.list","name":"hd_pprice_vat"}' />
				<div class="fld pamount" data-literal='{"scope":"products.list","name":"hd_pamount"}' />
				<div class="fld ptax" data-literal='{"scope":"products.list","name":"hd_ptax"}' />
				<div class="fld pdiscount" data-literal='{"scope":"products.list","name":"hd_pdiscount"}' />
				<div class="fld ptotal_price" data-literal='{"scope":"products.list","name":"hd_ptotal_price"}' />
			</div>
		</div>
	</div>
</div>