<div class="paymentsStatus">
	<div class="status">
		<div class="st subtotal" />
		<div class="st paid" />
		<div class="st balance" />
	</div>
	<div class="actions">
		<div class="rtlbutton btn-cancel" data-literal='{"scope":"payments.status","name":"btn_cancel"}' />
		<div class="rtlbutton btn-complete" data-literal='{"scope":"payments.status","name":"btn_complete"}' />
		<div class="rtlbutton btn-add-payment" data-literal='{"scope":"payments.status","name":"btn_addPayment"}' />
	</div>
</div>